<div class="container">
<h3 class="text-center mt-5">Liste des utilisateurs</h3>
@if (this.authentification.role_name == "Administrateur") {
    <a mat-raised-button color="primary" routerLink="/add-user">
        <mat-icon>add</mat-icon> Utilisateur
    </a>
}

<div class="mat-elevation-z8 mt-5">
    <table mat-table [dataSource]="list_utilisateurs">

        <!-- Position Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell d-lg-table-cell"> Email </th>
            <td mat-cell *matCellDef="let utilisateur" class="d-none d-md-table-cell d-lg-table-cell"> {{utilisateur.utilisateur_email}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Prenom">
            <th mat-header-cell *matHeaderCellDef> Prenom </th>
            <td mat-cell *matCellDef="let utilisateur"> {{utilisateur.utilisateur_firstname}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Nom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let utilisateur"> {{utilisateur.utilisateur_lastname}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef class="d-none d-lg-table-cell"> Role </th>
            <td mat-cell *matCellDef="let utilisateur" class="d-none d-lg-table-cell"> {{utilisateur.role_name}} </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef class="text-center">Actions</th>
            <td mat-cell *matCellDef="let utilisateur" class="text-center">
        @if(this.authentification.role_name == "Administrateur") {

            <button mat-mini-fab color="accent" [routerLink]="['/edit-user', utilisateur.utilisateur_id]">
                <mat-icon>edit</mat-icon>
            </button>
            
            <button mat-mini-fab color="warn" class="btn-warn ms-2" (click)="onSupprimerUtilisateur(utilisateur.utilisateur_id)">
                <mat-icon>delete</mat-icon>
            </button>
            
        }
            
            
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tabletd"></tr>
        <tr mat-row *matRowDef="let row; columns: tabletd;"></tr>
    </table>

    <mat-paginator [length]="list_utilisateurs.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
</div>
</div>

